:root {
  --black: #2D2D2D;
  --white: #FFFFFF;
  --red: #E81515;
  --orange1: #FFAB05;
  --orange2: #EDA100;
  --orange3: #FFC551;
  --orange4: #FFEFD1;
  --gray1: #828282;
  --gray2: #E5E5E5;
}

* {
  margin: 0;
  padding: 0;
}

p,
a {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.0;
  color: var(--black);
}
a,
a:hover {
  text-decoration: none;
  color: var(--black);
}
label {
  margin-bottom: 0.8rem;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.0;
  color: var(--black);
  text-align: left;
}

.fs14 {
  font-size: 1.4rem;
}
.fs16 {
  font-size: 1.6rem;
}
.fs20 {
  font-size: 2rem;
}
.fs24 {
  font-size: 2.4rem;
}
.fs48 {
  font-size: 4.8rem;
}
.fs64 {
  font-size: 6.4rem;
}
.w6 {
  font-weight: 600;
}
.lh150 {
  line-height: 1.5;
}

.mt4 {
  margin-top: 0.4rem;
}
.mt8 {
  margin-top: 0.8rem;
}
.mt16 {
  margin-top: 1.6rem;
}
.mt24 {
  margin-top: 2.4rem;
}
.mt48 {
  margin-top: 4.8rem;
}

*,
*:before,
*:after {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Helvetica Neue",
    Arial, sans-serif;
  font-size: 10px;
  word-spacing: 1px;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background: var(--white);
}

.contents {
  height: 100vh;
  scroll-snap-align: start;
}
.contents-scroll {
  height: 500vh;
  background: var(--orange1);
}

.btn {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  border-radius: 999rem;
  cursor: pointer;
}
.btn--orange {
  background: var(--orange1);
  color: var(--white);
}
.btn:hover {
  background: var(--orange2);
  color: var(--white);
}

input {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
}
.input {
  padding: 1.6rem 3.2rem;
  font-weight: 600;
  line-height: 1.0;
  font-size: 1.6rem;
  border: 2px solid var(--orange4);
  border-radius: 1.2rem;
  color: var(--black);
  background: var(--orange4);
  box-sizing: border-box;
}
.input:focus {
  border: 2px solid var(--orange1);
  background: var(--white);
}
.input-error {
  border: 2px solid var(--red);
}
.error-msg {
  color: var(--red);
}